.footer {
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.top {
    display: flex;
    justify-content: space-evenly;
}

.top img {
    object-fit: contain;
    height: 30px;
}

.top .links {
    display: flex;
    flex-direction: column;
    margin: 0 90px;
}

.top .links a {
    text-decoration: none;
    padding: 5px 0;
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    text-transform: capitalize;
}

.top .links a:first-child {
    font-size: 14px;
    font-weight: 600;
}

.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.bottom img {
    object-fit: contain;
    height: 20px;
}

.bottom p {
    margin-left: -8px;
    font-size: 12px;
}

.bottom a {
    margin: 0 10px;
    font-size: 12px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
}
.bottom a:last-child {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1028px) {
    .bottom a {
        margin: 0 7px;
        font-size: 10px;
    }
}